body {
    font-family: sans-serif;
    margin: 0;
    height: 100vh;
    width: 100hw;
}

main {
    display: flex;
    height: 100vh;
}

#welcome {
    width: 95vw;
    background-image: url(../img/atendente-farmacia.jfif);
    background-size: 95vw;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
}

#welcome span {
    font: bold;
    font-size: 3rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 1vw;
}

#welcome p {
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 1vw;
}

#login-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.9vw;
    padding-top: 0;
    background-color: #352399;
}

#login-area div {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}

#login-area img {
    width: 10vw;
}

#login-area p {
    text-align: center;
    color: #FFF;
}

#login-area input {
    margin: 0.5rem;
    height: 1.5vw;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1vw;
    color: #FFF;
    background-color: #5539F7;
    border-radius: 0.5vw;
    border: none;
}

#login-area input::placeholder {
    color: #FFF;
}

#login-area button {
    margin: 0.5rem;
    height: 1.5vw;
    width: 20vw;
    color: #FFF;
    background-color: #3214DE;
    border-radius: 0.5vw;
    border: solid #190f53 1px;
    transition: 300ms;
    cursor: pointer;    
}

#login-area button:hover {
    border-radius: 0.2vw;
    background-color: #1B0B78;
}